.harmonization-panel > .ant-layout-sider-children {
    display: block !important;
}
.harmonization-panel .cluster-list .ant-pro-card-body {
    padding-bottom: 0;
}
.harmonization-panel .cluster-list .ant-list-item,
.harmonization-panel .cluster-harmonization-list .ant-list-item {
    padding: 12px 12px;
}
.harmonization-panel .cluster-list .ant-pro-table-list-toolbar-menu > *,
.harmonization-panel .cluster-harmonization-list .ant-pro-table-list-toolbar-menu > * {
    margin-top: 8px;
    margin-bottom: 8px;
}
.harmonization-panel .cluster-harmonization-list .ant-pro-card-body {
    padding: 0;
}
.harmonization-panel .cluster-harmonization-list .ant-pro-list-row-title {
    margin-right: 0;
}
.harmonization-panel .cluster-harmonization-list .ant-pro-list-row-title > span {
    font-size: 16px !important;
    /* font-weight: 600 !important; */
    /* color: #1890ff; */
    text-decoration: underline;
}
.harmonization-panel .cluster-harmonization-list .ant-pro-list-row-description {
    margin-top: -12px;
}